.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background: #f1faee;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    img {
        width: 700px;
        max-width: 100%;
        height: auto;
    }
}
